button,
.blogHeader {
  background-color: #699ce9;
  font-weight: bold;
  color: white;
  font-size: 1.25vw;
  text-shadow: 1px 1px 3px rgb(53, 87, 105);
}

button,
input,
textarea,
.blogHeader,
.blogBody,
.formHandler {
  -webkit-box-shadow: 0 4px 4px -2px #1f4f85;
  -moz-box-shadow: 0 4px 4px -2px #1f4f85;
  box-shadow: 0 4px 4px -2px #1f4f85;
}

.blogAuthor,
.blogAuthorLocation {
  text-align: right;
}

.return,
.formHandler {
  text-align: center;
}

.blogBody,
.formHandler {
  background-color: rgb(213, 238, 255);
}

.newsFeed,
input,
.formHandler {
  margin: 0 auto;
}

body {
  background: rgb(176, 221, 250);
  font-family: "PT Sans", sans-serif;
}

button {
  border-radius: 1vw;
  width: 10vw;
  height: 4.5vw;
}

input {
  border-radius: 0.5vw;
  width: 50%;
  height: 1.5vw;
}

textarea {
  border-radius: 2vw;
  margin: 1vw auto;
  display: block;
  min-width: 100%;
  max-width: 100%;
  min-height: 75vh;
  max-height: 75vh;
}

label {
  display: inline-block;
  margin: 0.25vw;
}

a {
  text-decoration: none;
}

.blogSide {
  position: fixed;
  top: 0.5vw;
  right: 5.5vw;
  width: 10%;
  background: rgb(213, 238, 255);
  padding: 1vw;
  margin-left: 1vw;
  height: 94.5%;
  border-radius: 1vw;
}

.newsFeed {
  width: 90%;
}

.blogPost {
  width: 85%;
}

.blogHeader {
  border-radius: 1vw 1vw 0 0;
  padding: 1vw 1vw 2vw 1vw;
  margin-bottom: 0.5vw;
  font-size: 1.5vw;
}

.blogAuthor {
  float: left;
}

.blogAuthorLocation {
  float: right;
}

.blogBody {
  padding: 3vw;
  border-radius: 0 0 2vw 2vw;
  margin-bottom: 4vw;
}

.logo {
  width: 50vw;
}

.credits {
  bottom: 0;
  position: absolute;
  font-size: 0.75vw;
  padding: 1vw 1vw 0vw 0vw;
  color: rgb(100, 99, 99);
}

.formHandler {
  width: 65%;
  padding: 1vw 3vw;
  border-radius: 2vw;
}

.spacer {
  height: 1vw;
}