/* =================================================== */
/* GROUPED ELEMENTS  */
/* =================================================== */

/* Making all 'buttons' (newBlog and searchIcon) and headers have appropriate shadows and fonts. */
.newBlog,
.blogHeader, #searchIcon {
  background-color: #699ce9;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 3px rgb(53, 87, 105);
}

/* Sizing for newBlog buttons and blogHeader fonts. */
.newBlog, .blogHeader {
  font-size: 1.25vw;
}

/* The cool faint shadow that goes on EVERYTHING */
.newBlog,
input,
textarea,
.blogHeader,
.blogBody,
.formHandler, .searchSelect, .search-container {
  -webkit-box-shadow: 0 4px 4px -2px #1f4f85;
  -moz-box-shadow: 0 4px 4px -2px #1f4f85;
  box-shadow: 0 4px 4px -2px #1f4f85;
}

/* Pushes text on the blog header stuff to the right. */
.blogAuthor,
.blogAuthorLocation {
  text-align: right;
}

/* Centers text for the forms, and return button. */
.return,
.formHandler {
  text-align: center;
}

/* Adds background colors for all the Big Fields. */
.blogBody,
.formHandler {
  background-color: rgb(213, 238, 255);
}

/* Centers a bunch of our elements. */
.newsFeed, .searchFeed, .basePage,
input,
.formHandler {
  margin: 0 auto;
}

/* Does some float fiddling to make the search thing sit right */
.searchbar, .search-container, .searchSelect {
  display: block;
  position: relative;
  float: left;
  font-size: 1vw;
  border: none;
}

/* Makes the standard page elements the same width for every page */
.newsFeed, .searchFeed, .basePage {
  width: 90%;
}

/* =================================================== */
/*   BASE ELEMENTS   */
/* =================================================== */

/* Sets the background white, sets font style */
body {
  background: rgb(255, 255, 255);
  font-family: "PT Sans", sans-serif;
}

/* Makes the input look cooler */
input {
  border-radius: 0.5vw;
  width: 50%;
  height: 1.5vw;
}

/* Makes the textarea look rounded and hardsets its width and height */
textarea {
  border-radius: 2vw;
  margin: 1vw auto;
  display: block;
  min-width: 95%;
  max-width: 95%;
  min-height: 75vh;
  max-height: 75vh;
  padding: 1vw;
}

/* Makes labels behave better for styling. */
label {
  display: inline-block;
  margin: 0.25vw;
}

/* Removes underlines from links, makes them default uppercase and a smaller font size. */
a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
}

/* =================================================== */
/*  CUSTOM CLASSES   */
/* =================================================== */

/* This Makes Buttons! Or, fake buttons, really, but who's asking? */
.newBlog {
  border-radius: 1vw;
  width: 10vw;
  height: 4.5vw;
  line-height: 4.5vw;
  vertical-align: middle;
  text-align: center;
  text-transform: none;
  font-size: 1.25vw;
}

/* The sidebar for all the pages, fixed to the side and pretty. */
.blogSide {
  position: fixed;
  top: 0.5vw;
  right: 5.5vw;
  width: 10%;
  background: rgb(213, 238, 255);
  padding: 1vw;
  margin-left: 1vw;
  height: 94.5%;
  border-radius: 1vw;
}

/* Controls the width of the blogpost itself. */
.blogPost {
  width: 85%;
}

/* Controls the blogheader, making it look sharp on bottom and round on top, aligning, font-sizing */
.blogHeader {
  border-radius: 1vw 1vw 0 0;
  padding: 1vw 1vw 2vw 1vw;
  margin-bottom: 0.5vw;
  font-size: 1.5vw;
}

/* moves author name to the left. */
.blogAuthor {
  float: left;
}

/* moves author location to the right. */
.blogAuthorLocation {
  float: right;
}

/* positions post date. */
.blogDate {
  line-height: 1.75vw;
  vertical-align: middle;
  font-size: 0.75vw;
  margin-left: 2vw;
  float: left;
}

/* makes blog post curved on bottom, pointed on type, positions */
.blogBody {
  padding: 3vw;
  border-radius: 0 0 2vw 2vw;
  margin-bottom: 4vw;
}

/* set image dimensions
.blogBody img {
  max-width: 100%;
}

/* Fixes the logo size */
.logo {
  width: 50vw;
}

/* subdues and affixes thhe credits */
.credits {
  bottom: 0;
  position: absolute;
  font-size: 0.75vw;
  padding: 1vw 1vw 0vw 0vw;
  color: rgb(100, 99, 99);
}

/* Adds appropriate dimensions to the form container. */
.formHandler {
  width: 65%;
  padding: 1vw 3vw;
  border-radius: 2vw;
}

/* A little spacer / clear fixer. Definitely my crappiest piece of code. */
.spacer {
  clear: both;
  height: 1vw;
}

/* defines the search field holder */
.searchbar {
  width: 90%;
  padding: .4vw;
  margin-top: .5vw;
  margin-right: .5vw;
  font-size: 1vw;
}

/* encompasses in all the search elements */
.search-container {
  width: 30%;
  padding: 0.6vw 1vw;
  margin-top: .5vw;
  background: #699ce9;
  border-radius: 0.5vw;
}

/* defines the location/name selection drop downs */
.searchSelect {
  width: 63%;
  padding: .6vw;
  height: 2.4vw;
  margin-top: .5vw;
  margin-right: .5vw;
}

/* turns the search icon gray when mousing over. */
.search-container hover {
  background: #ccc;
}

/* width fixes the searchbar to fill its space */
.searchbar-box {
  width: 100%;
  background-color: gray;
}

/* styles and fixes the 'hello, _____' text in the top left which identifies user */
.verifier {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding: 0 .5vw;
  border-radius: 0vw 0vw 1vw 1vw;
}

/* styles the specific name seen in the ____ text in the top left identifying the user */
.authname {
  color: #285ba8;
  font-weight: bolder;
}
